{% extends 'diary/base.html' %}
{% load my_tags %}
{% block content %}
<main class="main-box lock">
    <div class="content-auto" style="height: 100%">
        <div class="album py-5 page page-home"
             style="background-image: linear-gradient(145deg,rgba(131,206,237,1)28.203505277633667%,rgba(122,191,255,1)100%);">
            <div class="form-center">
                    <div class="card col-6 dr-form__box ">
                        <br>
                        <h2 class="dr-title__line dr-title__sm">{{ object.title }}</h2>
                        <div class="card-body">
                            <img class="img-center" src="{{ object.image | media_filter }}" width="100" height="100"
                                 style="align-items: center;">
                            <br><br>
                            <p class="card-text">{{ object.description }}</p>
                            <br>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a class="btn btn-success"
                                       href="{% url 'diary:list' %}" style="font-size: 20px;">Назад</a>
                                </div>
                                <small class="text-muted">{{ object.cd_date }}</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
    </div>
</main>
{% endblock %}