<footer class="footer">
    <div class="container">
        <div class="footer__row">
            <div class="footer__left">
                <a href="https://picnote.ru/" class="footer__logo"><img
                        src="./Picnote личный онлайн дневник_files/logo.svg" alt="Picnote логотип"></a>
                <div class="footer__small">Сервис для ведения личных
                    онлайн-дневников и заметок
                </div>
            </div>
            <div class="footer__right">
                <h5 <br>
                    </h5>
                <a ></a>
            </div>
        </div>
    </div>
</footer>
<div class="container">
    <div class="copyright">
        <span class="copyright__text">&copy; 2024 - {% now 'Y' %}</span>
        <a target="_blank" href="https://picnote.ru/oferta" class="copyright__link"
           style="margin-right:15px">Оферта</a>
        <a target="_blank" href="https://picnote.ru/agreement" class="copyright__link">Cогласие на обработку
            персональных данных</a>
    </div>
</div>