{% extends 'diary/base.html' %}
{% load static %}
{% load my_tags %}
{% block content %}
<main class="main-box lock">
    <div class="page page-home">
        <div class="content-auto">
            <div class="container-fluid">
                <div class="album py-5" style="margin-top: 200px; background-color: #fdebe4;">
                    <h1 style="text-align: center;">На указанную почту отправлено сообщение с новым паролем</h1>
                    <div class="a-center" style="margin-top: 30px;">
                        <a href="{% url 'users:login' %}" class="btn btn-success btn-lg">
                            Войти в свой дневник
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
