{% extends 'diary/base.html' %}
{% block content %}
<main class="main-box lock">
    <div class="page page-home">
        <div class="content-auto">
            <div class="container-fluid">
                <div class="album py-5" style="margin-top: 200px; background-color: #fdebe4;">
                    <h1 style="text-align: center;">На указанную почту отправлено сообщение ссылкой о подтверждении почты</h1>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
